<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body > div:nth-child(1){
            display: flex;
        }
    </style>
</head>
<body>
<div>
    <div>여기어때 로고</div>
    <form action="post">
    <input type="search"/>
    </form>
    <table>
        <tr>
            <td>내주변</td>
            <td>예약내역</td>
            <td>더보기</td>
            <td>로그인</td>
        </tr>
    </table>
</div>
<div>
이미지
</div>
<div>
<table>
    <tr>
        <td>모텔</td>
        <td>호텔·리조트</td>
        <td>펜션</td>
        <td>게스트하우스</td>
        <td>캠핑·글램핑</td>
        <td>한옥</td>
        <td>내주변</td>
        <td>페이백</td>
    </tr>
</table>
</div>
<div>
여기어때 소식
</div>
<div>
이벤트
</div>



</body>
</html>